#register .short{
	font-weight:bold;
	font-size: 14px;
	color:#FF0000;
	float: left;
	position: relative;
	top:18px;
	z-index: 3;
	border-width:1px;  
	border-style:double;
	border-color:#FF0000;
	padding: 7px;
}
#register .weak{
	font-weight:bold;
	font-size: 14px;
	color:orange;
	float: left;
	position: relative;
	top:18px;
	z-index: 3;
	border-width:1px;  
	border-style:double;
	border-color:orange;
	padding: 7px;
}
#register .good{
	font-weight:bold;
	font-size: 14px;
	color:#2D98F3;
	float: left;
	position: relative;
	top:18px;
	z-index: 3;
	border-width:1px;  
	border-style:double;
	border-color:#2D98F3;
	padding: 7px;
}
#register .strong{
	font-weight:bold;
	font-size: 14px;
	color: limegreen;
	float: left;
	position: relative;
	top:18px;
	z-index: 3;
	border-width:1px;  
	border-style:double;
	border-color: limegreen;
	padding: 7px;
}